/*----------------------------
        main text animation
-----------------------------*/
#text_anim{
    color: white;
    margin:0 auto;
    min-height: 90px;
    margin-top: 20%;
    text-align: center;
    text-shadow:1px 1px 0 rgba(255,255,255,0.5);
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 36px;
    opacity:1;
}

#text_anim:hover{
    text-shadow:1px 1px 0 rgba(255,255,255,0.5);
    opacity:0.5;
    -webkit-transition: 1s ease;
    -webkit-transform: scale(3);
    transform: scale(3);
    transition: all 1s ease;
}

.foundicon-mail, .foundicon-add-doc , .foundicon-unlock,.foundicon-address-book{
    font-size: 18px;
    color: #fff;
}
.foundicon-mail:hover,.foundicon-add-doc:hover, .foundicon-unlock:hover,.foundicon-address-book:hover{
    color: #f0fff0;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}